body {
    font-family: 'Arial', sans-serif;
    background-color: #1b383b;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #eeff00;
    font-size: 2.3em;
    background-color: black;
    max-width: 640px;
    margin: 0 auto;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #444;
}

label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    background-color: #5cb85c;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 6px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4cae4c;
}

@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    button {
        font-size: 1em;
    }
}
#ResumeOutput{
    max-width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: powderblue;
    color: black;
    border: 2px solid darkblue;
    border-radius: 5px;
    box-shadow: white;
    padding: 20px ;
    margin: auto;
}
#ResumeOutput h2{
    color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
#ResumeOutput h3{
    color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.profilepicture{
 margin: auto;
 border-radius: 5px;
 border-style: solid;
 border-color: #000000;
 border: 5px;
}
image.profilepicture{
    width: 200px;
    height: 175px;
}